body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 50px;
}

.move-icon {
  height: 50px;

}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 60px;
}

.Result {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.Score {
  margin-top: 60px;
}

.Reset-Score {

  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;

  border: none;
  background-color: white;
  color: black;
}